@model LeaveManagement.Common.Models.LeaveTypeVM

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details of LeaveType</h1>*@
<h1>Details of @Model.Name</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.DefaultDays)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.DefaultDays)
        </dd>
        
    </dl>
    <br/>
</div>
<div>
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-dark">Edit</a> 
    
</div>
